a:focus:hover {
  color: aliceblue;
}

/* Large item inside of the Work Section */
.large-work {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  border-width: 5px;
  opacity: 0.8;
  border-style: solid;
  border-color: #4b5563;
  width: 100%;
  height: 400px;
  margin: 1%;
  padding: 5px;
  margin-bottom: 80px;
}

.large-work:hover {
  opacity: 1;
}

.large-work p {
  color: aliceblue;
  position: absolute;
  font-size: 25px;
  background-color: #4b5563;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}

/* Small items inside of the Work Section */
.small-work {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  opacity: 0.8;
  border-style: solid;
  border-color: #4b5563;
  width: 47%;
  height: 200px;
  margin: 1%;
  padding: 5px;
  margin-bottom: 80px;
}

.small-work div {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  opacity: 0.8;
  border-style: solid;
  border-color: #4b5563;
}

.small-work:hover {
  opacity: 1;
}

.small-work p {
  color: aliceblue;
  position: absolute;
  font-size: 25px;
  background-color: #4b5563;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 998px) {
  .small-work {
    width: 97%;
    margin-bottom: 20px;
    height: 200px;
  }

  .large-work {
    width: 97%;
    height: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .left-and-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
  }
  .left {
    flex-direction: row;
  }
  .work-right {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 7px;
  }

  .small-work div {
    opacity: 1;
  }

  .large-work div {
    opacity: 1;
  }

  .large-container {
    padding-bottom: 20px;
  }

  #about-me article p {
    text-align: center;
  }
}
