/* Change the color of the links when clicked */
header a:hover,
header a:visited,
header a:link,
header a:active {
  color: var(--AltTextColor);
  text-decoration: none;
}

a:hover,
a:visited,
a:link,
a:active {
  color: var(--TextColor);
  text-decoration: none;
}

header {
  display: flex;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--MainBackground);
  justify-content: flex-end;
  color: var(--TextColor);
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

/* Profile Picture along with name */
header div {
  display: flex;
  align-items: center;
  margin-left: 1%;
  color: var(--TextColor);
}

header div h2 {
  font-size: 30px;
  color: var(--AltTextColor);
}

header div img {
  height: 90px;
  width: 90px;
  border-radius: 100px;
  margin-left: 20px;
}

header h1 {
  display: flex;
  font-size: 48px;
  text-decoration: none;
}

header nav {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-right: 1%;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

header nav ul li {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}
