.large-cell {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 95%;
  margin-top: 80px;
  border-radius: 20px;
  padding-bottom: 1%;
  background-color: #5f6374;
}

#modal-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 50px;
  height: 50px;
  top: 0px;
  right: 0px;
  background-color: #d7dff8;
  border-color: #d7dff8;
  border-style: solid;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;
  transition: 0.2s;
}

#modal-button:hover {
  background-color: aliceblue;
  border-color: aliceblue;
}

#modal-button:active {
  color: #d7dff8;
  background-color: #d7dff8;
  border-color: aliceblue;
}

.display-off {
  display: none;
}

#main-cell {
  display: flex;
  flex-direction: row;
}

#image-cell {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 800px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgb(49, 49, 49);
  margin: 40px 20px 20px 20px;
}

b {
  color: aliceblue;
}

#right-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 800px;
  margin: 40px 20px 20px 20px;
}

#title-cell {
  color: aliceblue;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: larger;
  padding-top: 1%;
}

#info-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 700px;
}

#about-cell {
  color: #d7dff8;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  width: 50%;
  align-items: center;
  overflow-y: auto;
}

#dependancy-cell {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
}

#dependancy-cell ul {
  font-size: larger;
}

#dependancy-cell li {
  color: #d7dff8;
  font-size: larger;
  padding: 20px 0px 0px 10px;
}

#link-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 3%;
  height: 80px;
}

#link-cell button {
  width: 20%;
  height: 90%;
}

#github {
  background-color: orange;
  color: rgb(255, 255, 255);
  font-size: larger;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: rgb(255, 193, 78);
  transition-duration: 0.2s;
  cursor: pointer;
}

#liveApp {
  background-color: blue;
  color: rgb(255, 255, 255);
  font-size: larger;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: rgb(91, 91, 253);
  transition-duration: 0.2s;
  cursor: pointer;
}

#videoDemo {
  background-color: green;
  color: rgb(255, 255, 255);
  font-size: larger;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: rgb(79, 158, 79);
  transition-duration: 0.2s;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  z-index: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  transition: visibility 0s, opacity 0.5s;
  z-index: 0;
  top: 0px;
  left: 0px;
}

.video-holder {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
}

#close-player {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 5px;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: x-large;
  transition: 0.2s;
}

#close-player:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 992px) {
  .large-cell {
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  #main-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #right-cell {
    height: 900px;
  }
  #image-cell {
    width: 90%;
    height: 800px;
  }
  #info-cell {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1%;
    max-height: 700px;
  }

  #dependancy-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  #link-cell {
    align-items: center;
  }

  #link-cell button {
    width: 20%;
    height: 60%;
  }
}

@media screen and (max-width: 768px) {
  .large-cell {
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  #right-cell {
    height: 100%;
    flex-direction: column-reverse;
    margin: 0;
  }
  #image-cell {
    width: 90%;
    height: 300px;
  }
  #info-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1%;
    max-height: 2000px;
  }
  #about-cell {
    width: 90%;
  }

  #title-cell {
    padding-top: 5%;
    width: 50%;
    align-items: center;
  }

  #title-cell h2 {
    text-align: center;
  }

  #link-cell {
    padding: 0;
  }

  #link-cell button {
    width: 20%;
    height: 60%;
  }

  #dependancy-cell ul {
    list-style-type: none;
    width: 100%;
  }
  #dependancy-cell li {
    color: aliceblue;
    background-color: #5f6374;
    border-radius: 10px;
    border-style: solid;
    align-items: center;
    text-align: center;
    padding: 1%;
  }
  .large-cell {
    width: 100%;
  }
}

/* @media screen and (max-width: 480px) {
} */
