/* Styling for image located under the header */
img {
  height: 200px;
}

.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgb(49, 49, 49);
  padding-top: 120px;
}

.banner h1 {
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1800px) {
  h1 {
    color: purple;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    color: green;
  }

  .banner {
    padding-top: 160px;
  }

  .banner h1 {
    color: rgb(255, 255, 255);
    font-size: 140%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    color: red;
  }

  .banner {
    padding-top: 0px;
  }

  .banner h1 {
    color: rgb(255, 255, 255);
    font-size: 90%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    color: blue;
  }
}
