/* General Left Items */
.left {
  flex-direction: column;
  align-items: flex-end;
  display: flex;
  width: 25%;
  padding: 1%;
}

.left h1 {
  font-size: 36px;
}

/* General Right Items */
.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  height: 100%;
  padding: 1%;
}

#about-me .right p {
  padding-bottom: 1%;
}

/* Styling for the larger containers holding the 3 left and rights */
.left-and-right {
  display: flex;
  flex-direction: row;
  background-color: var(--lightergrey);
}
